*{
    box-sizing: border-box;
}

body {
    background-color: #000000;
    background-image: url("../images/what-the-hex.png");
    height: 90%;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #4aaaa5;
}

a.nav-link:hover {
    color: #ffffff !important;
    background-color: #4aaaa5;
}

#logo{
    color: #ffffff;
    background-color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding: 15px 10px 15px 10px;
    font-size: 1.5em;
    margin:0;
    height:100%;
}
.navbar{
    padding-top: 0 1rem 0 0;
    border-bottom: 1px solid #cccccc;
}

section {
       
        background-color: #ffffff;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 100px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        padding: 5px;
        border: 1px solid #dddddd;
}

section h1 {
        font-family: Georgia, Times, 'Times New Roman', serif;
        color: #4aaaa5;
        margin: 20px;
        font-size: 1.5em;
        border-bottom: 2px solid #cccccc;
        padding:  10px 0;
}

section h2{
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #4aaaa5;
    margin: 5px;
    font-size: 1em;
    border-bottom: 1px solid #cccccc;
    padding:  0 0 5px 0;
    text-align: right;
}

.col-md-8{
    padding-left: 0;
}

p {
        color: #777777;
        line-height: 1.8;
}

article{
    margin: 20px;
}

footer {
    position: fixed;
    background-color:#666666;
    bottom: 0;
    right: 0;
    left:0;
    text-align: center;
    padding: 30px 0 10px 0;
    color: #ffffff;
    border-top: 8px solid #4aaaa5; 
    z-index: 10;      
}


  /*Contact Page Styling  */

form {
    margin:25px;
    color:rgb(136, 135, 135);
    line-height:1.5;
}

input {
    margin:5px;
    margin-left:0;
    width: 100%;
    line-height: 1.5em;
}

#message {
    height: 200px;
}

.submit {
    width:10%;
    background-color:#4aaaa5;
    color: #ffffff;
    border:none;
    padding: 5px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: medium;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder { 
    color: #cccccc;
    opacity: 1; /* Firefox */
    font-size: 125%;
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder { 
    color: #cccccc;
}

/* Microsoft Edge */
::-ms-input-placeholder { 
    color: #cccccc;
}

/* Portfolio Page Styling */
#portfolioSection {
    display: inline-block;
    width: 100%;
    margin: 1em;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 100px;
}

.card-title {
    width: 100%;
    background-color: #4aaaa5;
    height: 50px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    text-align: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    line-height: 50px;
    font-size: 1.2em;
}